.switch {
    display:flex;
    justify-content:space-between;
    padding:10px;
    align-items: baseline;
    /* justify-content: space-evenly; */
    border-left:4px solid #01579b;
    border-bottom: 1px solid rgb(233, 233, 231);
    border-radius: 5px;
    margin: 10px 0 10px 0;
  }

  .msg
{
  width: 6rem;
  height: 6rem;
  display: flex;
  /* background-color:rgba(238, 209, 209, 0.3); */
  align-items: center;
  justify-content: center;
  border: 0px;
  border-radius: 5px;
  margin:0 10px 10px 0px;
}