.App {
  text-align: center;
  background-color: #F9FBFD;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.bg-card {
  /* background: linear-gradient(to top right, #ff0000 30%, #000000 67%); */
  background-color: #fff;
}

#todayBox {
  /* background: linear-gradient(to top right, #33cc33 30%, #99ffcc 76%); */
  background-color: #fff;
  color: #0099ff;
}

#processingBox {
  /* background: linear-gradient(to top right, #ff6600 30%, #ffff66 76%); */
  background-color: #fff;
  color: #0099ff;
}
#completedBox {
  /* background: linear-gradient(to top right, #0099ff 30%, #000066 76%); */
  background-color: #fff;
  color: #0099ff;
}
#cancelledBox {
  /* background: linear-gradient(to top right, #ff6666 30%, #ff0000 76%); */
  background-color: #fff;
  color: #0099ff;
}
#mainBox {
  /* background: linear-gradient(to top right, #ffffff 32%, #ffffcc 77%); */
  color: #0099ff;
}

.mainBody {
  position: relative;
  top: 40px;
  margin-left: 8px;
}

.App-header {
  background-color: #7a0111;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
